ul
{
    margin: 15px;
    display: inline-block;
    background-color: lime;
    text-align: center;
    padding: 0px;
}

li
{
    margin: 5px;
    padding: 5px 20px;
    list-style-type: none;
    background-color: #00F;
    width: 100px;
}

li:hover
{
    border: 3px solid #F00;
}

a 
{
    color: #FFF;
    text-decoration: none;
}