a{
    color: red;
    text-decoration: none;
}

a:visited {
    color: #0A0;
}

a:hover {
    color: #FFF;
    background-color: #F00;
    text-decoration: underline;
}

a:focus {
    color: #00F; 
    text-decoration: underline;
}

a:active {
    color: #F60;
    background-color: #FFF;
}