body{
    background-color: #CFC;
    font-family: Georgia, Cambria, serif; 
    font-size: 16px;
  }
  
  #titulo {
    color: #F00;
    font-family: Verdana, Calibri, 
    sans-serif; 
    font-size: 32px
  }
  
  h2 {
    color: #a00;
    font-family: Verdana, Calibri,
    sans-serif; 
    font-size: 24px;
  }
  
  ul {
    color: #00F;
  
  }
  
  .subtitulo {
    color: green;
  }
  p {
    color: #00F;
  }
  
  .color {
    font-family: Georgia;
    font-size: 16px;
  }

  .negro {
    color: white;
    background-color: black;
  }

  .strong {
    font-size: 20px;
  }