@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

.parrafo2
{
    font-family: Verdana;
}

.parrafo3
{
    font-family: Tahoma;
}

.parrafo4
{
    font-family: 'Sacramento', cursive;
}

.parrafo5
{
    font-family: 'Sacramento', cursive;
    font-family: 'Amatic SC', cursive;
}